/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
    /* Primary color palette */
    --ion-color-primary: #333; /* Dark grey for primary elements */
    --ion-color-primary-rgb: 51, 51, 51;
    --ion-color-primary-contrast: #fff; /* White for contrast */
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #2b2b2b; /* Slightly darker shade of grey */
    --ion-color-primary-tint: #4d4d4d; /* Slightly lighter tint of grey */
  
    /* Secondary color (accents) */
    --ion-color-secondary: #ffd700; /* Gold color for accents */
    --ion-color-secondary-rgb: 255, 215, 0;
    --ion-color-secondary-contrast: #2b2b2b;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #e6be00; /* Darker shade of gold */
    --ion-color-secondary-tint: #ffdf20; /* Lighter tint of gold */
  
    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
  
    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
  
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
  
    --ion-color-light: #dcdcdc;
    --ion-color-medium: #b2b2b2;
    --ion-color-dark: #1e1e1e;
  
    /* Button styles */
    --ion-button-background-color: #333;
    --ion-button-text-color: #ffd700;
  
    --ion-color-background: #e0e0e0;
  }
  
  html {
    /* For more information on dynamic font scaling, visit the documentation: 
    https://ionicframework.com/docs/layout/dynamic-font-scaling */
    --ion-dynamic-font: var(--ion-default-dynamic-font);
  }